<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.just_jump.coding_calculator">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/splash"
        tools:ignore="AllowBackup">

        <activity
            android:name="com.just_jump.coding_calculator.CalculatorNew"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.just_jump.coding_calculator.UpdateVersion"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.just_jump.coding_calculator.ListSavedColors"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.just_jump.coding_calculator.ExtraCalculations"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.just_jump.coding_calculator.Converter"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.just_jump.coding_calculator.NumericalSystems"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.just_jump.coding_calculator.GammaColors"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.just_jump.coding_calculator.PaletteColors"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.just_jump.coding_calculator.ColorCode"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.just_jump.coding_calculator.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>